html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    color: #293c4b;
    height: 100%;
    width: 100%;
}

.app-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.layer-controls {
    position: relative;
    display: flex;
    padding: 0.5em;
    :last-child {
        flex: 1;
    }
    &.controls-hidden {
        height: 0;
        padding: 0;
        input {
            display: none;
        }
        .login-button {
            display: none;
        }
        .expand-button {
            top: 0;
            bottom: initial;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.url-control {
    padding: 0.2em;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 30%;
    margin-right: 1em;
}

.login-button {
    background: #aaf;
    border: 1px solid #ddd;
}

.map-container {
    flex: 1;
    display: block;
    background: #ddd;
    position: relative;
    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.collapse-button, .expand-button {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(80%) translateX(-50%);
    background: white;
    border: 1px solid #ddd;
    &:hover {
        background: #ddd;
    }
    &:active {
        background: #ccc;
    }
}

button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5em;
}

.mapboxgl-canvas {
    left: 0;
}
