html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
    color: #293c4b;
    height: 100%;
    width: 100%;
}

.app-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.layer-controls {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 10000;
    display: flex;
    padding: 0.5em;
    pointer-events: none;
    &.controls-hidden {
        height: 0;
        padding: 0;
        input {
            display: none;
        }
        .login-button {
            display: none;
        }
        .expand-button {
            opacity: 0.4;
            &:hover {
                opacity: 1;
                background: white;
            }
        }
    }
}

.login-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 0.5em;
    pointer-events: none;
    * {
        pointer-events: auto;
    }
}

.url-input {
    /* pointer-events: auto; */
    width: 30%;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: middle;
}

.input-control {
    flex: 1;
    pointer-events: auto;
    padding: 0.2em;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.help-button {
    pointer-events: auto;
    width: 2em;
    border: 1px solid transparent;
    background: transparent;
}

.login-button {
    background: #465076;
    color: white;
    border: 1px solid #ddd;
    pointer-events: auto;
}

.map-container {
    flex: 1;
    display: block;
    background: #ddd;
    position: relative;
    .map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.collapse-button, .expand-button {
    z-index: 10000;
    position: absolute;
    top: 1em;
    right: 1em;
    /* transform: translateY(80%) translateX(-50%); */
    background: white;
    border: 1px solid #ddd;
    &:hover {
        background: #ddd;
    }
    &:active {
        background: #ccc;
    }
}

button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5em;
}

.mapboxgl-canvas {
    left: 0;
}

.form-invalid {
    border: 1px solid #f11;
}

.mapboxgl-compare {
    pointer-events: none;
    user-select: none;
    .compare-swiper {
        pointer-events: auto;
    }
}
